* {
  margin: 0px;
  padding: auto;
}

body {
  background-color: bisque;
}


div {
  display: flex;
  margin-top: 150px;
  margin-left: 260px;

}

h1 {
  padding: 20px 20px;
  background-color: antiquewhite;
  color: darksalmon;
  border-radius: 20px;
}